    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="bg-white text-center h-100 p-4 p-xl-5">
                <img class="img-fluid mb-4" src="~/@item.image" alt="" width="50" height="50">
                <h4 class="mb-3">@item.name</h4>
                <p class="mb-4">Welcome</p>
            </div>
        </div>

    }

